
.position-absolute-top-left {
    position: absolute;
    left: 0;
    top: 0;
}

.position-absolute-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.position-absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.position-absolute-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}