<LessConfiguration>
  <DesignName>Rapido4</DesignName>
  <Minification>true</Minification>
  <WebsiteSettingsVariablesFileOutputPath>Files/Templates/Designs/Rapido4/Resources/css/website</WebsiteSettingsVariablesFileOutputPath>
  <LessFilesFolder>/Files/Templates/Designs/Rapido4/Resources/css/website/</LessFilesFolder>
  <VariableFiles>/Files/Templates/Designs/Rapido4/Resources/css/website/_variables_1.auto.less</VariableFiles>
  <OutputPath>/Files/Templates/Designs/Rapido4/Resources/css/website/</OutputPath>
  <UseCleanVariableNaming>true</UseCleanVariableNaming>
</LessConfiguration>