@inherits ViewModelTemplate<ProductViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Linq;

<span class="shipping-info">@Translate("Delivery in 1-3 days")</span>

