@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO
@using System.Web

@{ 
    int pageId = Model.PageID;
    bool hideTitle = Model.Item.GetBoolean("HideTitle");
    string itemType = Model.Item.GetString("ItemTypeName") != null ? Model.Item.GetString("ItemTypeName") : "DynamicArticle";
    string sourcePagsId = Model.Item.GetItem("GetArticlesFrom") != null ? Model.Item.GetItem("GetArticlesFrom").PageID.ToString() : Pageview.ID.ToString();
}

<div>
    @if (!hideTitle) {
        <h2>@Model.Item.GetString("Title")</h2>
    }
</div>