@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="video-wrapper">
    @Model.Item.GetString("VideoHTML")
</div>


