.megamenu-item {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}

.toolsMenu .dividerBetween:not(:last-child):after {
    content: " | ";
    font-size: 0.8em;
}